*{
margin: 0;
border: 0;
padding: 0;
box-sizing: border-box;
}
.container{
/* background-color: brown; */
width: 100%;
height: 100vh;
}
.container h1{
text-align: center;
color: white;
padding: 20px;
}
.container form{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}
.background-image img{
width: 100%;
height: auto;
position: absolute;
}
.header{
    position: relative;
}