*{
margin: 0;
border: 0;
padding: 0;
box-sizing: border-box;
}

 .container{
  width: 100%;
  height: 60vh; 
  position: relative;
}

.container h1{
text-align: center;
color: white;
padding: 20px;
}
.container form{
display: flex;
max-width: 500px;
margin: 0 auto;
justify-content: center;
align-items: center;

}
input{
    flex: 1;
    padding: 2 rem;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
}
button{
    background: black;
    color: white;
    padding:10px;
    border-radius: 8px;
    cursor: pointer;
    width: 3.5rem;
}
button :hover{
    background: #333;
}
 .background-image img{
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.header{
    position: relative;
}


.info-section{
  max-width: 1024px;
  margin: 65px auto 0; 
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  text-align: center;
  gap: 2rem;
  padding: 30px;
  position: relative;
  z-index: 10;
}

#map{
  height: calc(100vh - 38vh); 
  width: 100%;
  z-index: 0;
}


@media (max-width: 768px){
  .info-section{
    flex-direction: column;
    margin: 50px 1rem 0;
  }

  #map{
    height: 50vh;
  }
}
